/** file: nav.css
 * place in same directory as HyperlinkedNavMenu.java and have your build system copy it
 * to the same location as HyperlinkedNavMenu.java.class */

.root {
    -fx-background-image: url("http://images.all-free-download.com/images/graphiclarge/linen_fabric_background_04_hd_picture_169825.jpg");
    -fx-padding: 15;
    -fx-font-size: 15;
}

.navbar {
    -fx-background-color: burlywood, peachpuff;
    -fx-background-radius: 10, 10;
    -fx-background-insets: 0, 2;
    -fx-font-style: italic;
    -fx-padding: 10 15 15 10;
}

.contentnode {
    -fx-background-color: aliceblue;
    -fx-padding: 15 20 20 15;
    -fx-effect: dropshadow(gaussian, slategrey, 10, 0, 5, 5);
}